<!DOCTYPE html>
<html>
<head>
<link href="style.css" rel="stylesheet" type="text/css">

<title>My Final Project</title>
</head>

<body>

<div id="container"> 
        
        <div id="header">
        	<div id="social">
            	<img src="instagram.png" title="instagram" alt="instagram" width="40"/>
            </div><!--End of Social-->
        
        <img src="logo.png" alt="Logo" title="Blues Brothers" width="100"/>
            <h4><i>Pigion Man.</i></h4>
        
        
        </div> <!--END OF DIV HEADER-->
        <div id="nav">
            <ul>
                <li>ABOUT</li>
                <li>PORTFOLIO</li>
                <li>EVENTS</li>
                <li>INSPIRATION</li>
                <li>CONTACT</li>
            </ul>
        </div> <!--END OF DIV NAV-->
        <div id="content">
            
        
        </div> <!--END OF DIV CONTENT-->
        
        <div id="footer">
        <p></p>
        
        </div> <!--END OF DIV FOOTER-->
</div> <!--END OF DIV CONTAINER-->



</body>
</html>
